@import url("../main.css");

/* @import url("../Du'a-o-azkar/styles.css"); */

:root {
    --head-back: #DFEBEF;
    --white: white;
    --primary: #162542;
    --secondary: #9AD8E8;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.row1 {
    display: flex;
}

.card {
    height: 30vh;
    width: 90%;
    margin: 1em auto 2em auto;
}

.card-body {
    text-align: center;
}

.card-body a {
    margin-top: 1em;
}
.card-title {
    font-weight: 700;
}

.ur-head {
    font-size: medium;
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.8em;

}

.col-left {
    flex-basis: 50%;
    text-align: left;
}
.col-right {
    flex-basis: 50%;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}

.tasbeeh img{
    height: 4rem;
    background-color: var(--secondary);
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}